.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background: crimson;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}
.transition-2 {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background: crimson;
  transition: 0.5s ease-out;
}

.transition-2.is-active {
  left: 0px;
}
.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 101;
  background: crimson;
  transition: 0.5s ease-out;
}

.transition-3.is-active {
  top: 0;
}
.transition-2 {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background: crimson;
  transition: 0.5s ease-out;
}

.transition-2.is-active {
  right: 0px;
}
