* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*body {
  overflow: hidden;
}*/

.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

.container.dark {
  background: #242424;
  z-index: 2;
  transition-duration: 1s;
  clip-path: circle(0 at 0 50%);
}
.dark.active {
  clip-path: circle(100% at 0 50%);
}
.container .color {
  position: absolute;
  filter: blur(150px);
}

.container .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #ff359b;
}
.container .color:nth-child(2) {
  /* bottom: -150px; */
  left: 100px;
  width: 500px;
  height: 500px;
  background: #fffd87;
}
.container .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;
}

.box {
  position: relative;
}

.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(150, 80, 80, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s Linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}

.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}

.container_inner {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(150, 80, 80, 0.2);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form h2 {
  position: relative;
  color: #34495e;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form.login h2::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #5d6d7e;
}
.form.regis h2::before {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 160px;
  height: 4px;
  background: #fff;
}
.form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.form .inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(150, 80, 80, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

input[type='file'] {
  display: none;
}
.p_image,
.choose_btn {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(150, 80, 80, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.p_image {
  padding: 10px 20px 10px 0;
}
.form .inputBox input::placeholder {
  color: #666;
}

.form .inputBox .btn-praimary {
  background: #fff;
  color: #666;

  width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
  border: none;
  border-radius: 35px;
  padding: 9px;
}

.form .togle {
  margin-top: 5px;
  color: crimson;
  text-align: center;
  transition-duration: 1s;
  cursor: pointer;
}
.form .togle:hover {
  text-decoration: underline;
  color: rgb(16, 0, 88);
}
